doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title Capistrano3 symfony deployment presentation

        link(rel='stylesheet', type='text/css', href='build/build.css')

    body

        article

            section
                img(src='http://capistranorb.com/images/CapistranoLogo.png' height='80')
                br
                br
                br
                h1
                h2 Capistrano3 + Symfony
                br
                h3 Keep shipping!
                br
                br
                small Capistrano3 Symfony Deployment Presentation 01/15 @ SymfonyUG Meeting #10 Stuttgart/Germany

            section
                b Your flight captain for the next couple of minutes:
                br
                h2 Markus Wanjura
                br
                p Head of IT & Development&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br> @ develop4edu GmbH Stuttgart
                    img.d4e-logo(src='http://d4e.io/D4E-Logo-Symbol-rand_schriftzug200x200.jpg' height='50')
                br
                p XING: <a href="http://xing.to/wanjura" target="_blank">xing.to/wanjura</a> GitHub: <a href="http://git.io/FGqg" target="_blank">git.io/FGqg</a>
                br
                br
                br
                p Wir suchen gerade Mitarbeiter! <br> Lust auf ein cooles Team, <br>PHP/Symfony, Java und DevOps? <br> Dann bewirb Dich!
                    img.hiring(src='http://d4e.io/hiring.gif' width='160')


            section
                h2 Let's start!


            section
                h2 Fork me!
                h3 And have some instant fun<br> with Capistrano3, Symfony and Vagrant
                p <a href="https://github.com/mwanjura/capistrano3-symfony-demo" target="_blank">https://github.com/mwanjura/capistrano3-symfony-demo</a>

            section
                h2 Questions?

            section
                h2 Thank you!
                img(src='images/qrcode.png' width='200')
                a(href="https://github.com/mwanjura/capistrano3-symfony-demo") github.com/mwanjura/capistrano3-symfony-demo

        script(src='build/build.js')